.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 2rem;
  padding: 70px 120px;
  background-color: red;
  color: white;
  background-color: black;
  min-height: 200px;
}

.footer a{
  color: whitesmoke;
  font-size: small;
}